@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@layer base {
  :root {
    --bg: var(--gray-1);
    --boxBg: var(--gray-4);
  }

  .light .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-12);
    --tw-prose-bold: var(--gray-12);
    --tw-prose-links: var(--gray-12);
    --tw-prose-code: var(--gray-12);
    --tw-prose-quotes: var(--gray-12);
  }

  .dark .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-11);
    --tw-prose-bold: var(--gray-11);
    --tw-prose-links: var(--gray-11);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
    --blue-10: var(--blue-8);
  }

  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}

@keyframes pulse {
  0% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  70% {
    box-shadow:
      0px 0px 70px #6166dc,
      0px 0px 40px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  100% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
